<div class="topnav" id="myTopnav">
  <a href="/home/"><b>HOME</b></a>
  <a href="/portfolio/">WORKS</a>
  <a href="/gallery/">GALLERY</a>
  <a href="/aboutme/">ABOUT ME</a>
  <a href="/contact/">CONTACT</a>
  <a href="/showcase/">SHOWCASE</a>
  <a href="/guestbook/">GUEST BOOK</a>
  <a href="/forms/">FORM KEGIATAN</a>
  <a href="/displayjadwal/">DISPLAY JADWAL</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
