<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>
</head>
<body>
    <header>
        {% include "Lab3PPW/partials/navbar.html" %}
    </header>
</html>
<body style="background-image:url('https://cdn.shopify.com/s/files/1/2045/6881/products/2022-60-lightyellow_800x.png?v=1499358973')">
<br/>
<br/>
<h1><center>ABOUT ME</center></h1>
<a href="#"><img src="http://about.tarung2017.com/foto/517.jpg" class="responsive" align="left" style="width:500px; height:300px"></a>

Nama lengkap saya adalah Gema pratama Aditya. Saya anak kedua dari dua bersaudara, saya memiliki kakak perempuan.
Sejak kecil saya memiliki hobi bermain game di komputer, dan mungkin itu adalah salah satu alasan mengapa saya memilih
berkuliah mengambil jurusan ilmu komputer di Fasilkom UI.

Angka kesukaan saya adalah angka 8.
Saya lahir tanggal 8.
Saya lahir tahun 1998.
Saya masuk tim basket saat kelas 8.
Nama-nama dalam game saya adalah 08121998, yang memuat 8 karakter.
Saya lahir di negara yang kemrdekaannya di bulan ke-8.

Saya bisa menulis dan membaca katakana dan hiragana, dan (sangat) sedikit kanji dasar bahasa Jepang.
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<footer> {% include "Lab3PPW/partials/footer.html" %} </footer>
</body>
