<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>
</head>
<body>
    <header>
        {% include "Lab3PPW/partials/navbar.html" %}
    </header>
<br/>
<body style="background-image:url('https://cdn.shopify.com/s/files/1/2045/6881/products/2022-60-lightyellow_800x.png?v=1499358973')">

<h1><center>CONTACT</center></h1>
<br/><br/>
<div class="row">
  <div class="column">
  <figure>
    <a href="https://twitter.com/gemapratama_a?lang=en"><img src="http://goinkscape.com/wp-content/uploads/2015/07/twitter-logo-final.png" style="width:100px; height:100px" title="Twitter" alt="Twitter"></a>
	<figcaption>Twitter: @gemapratama_a</figcaption>
 </figure>
 </div>
  <div class="column">
  <figure>
    <a href="https://www.instagram.com/gemapratama_a/"><img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-circle-512.png" style="width:100px; height:100px" title="Instagram" alt="Instagram"></a>
	<figcaption>Instagram: @gemapratama_a</figcaption>
  </figure>
 </div>
  <div class="column">
	<figure>
    <a href="https://www.facebook.com/CF08121998"><img src="https://en.facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png" style="width:100px; height:100px" title="Facebook" alt="Facebook"></a>
	<figcaption>Facebook: Gema Pratama Aditya</figcaption>
	</figure>
  </div>
</div>

<br/>
<br/>
<div class="row">
  <div class="column">
	<figure>
    <img src="http://www.laprensalibre.cr/files/noticias/images/detail/313017762_line15535x535.png" style="width:100px; height:100px" title="LINE" alt="LINE">
	<figcaption>LINE: gemapratamaa</figcaption>
	</figure>
  </div>
  <div class="column">
	<figure>
    <img src="https://www.shareicon.net/data/128x128/2016/05/03/759280_message_512x512.png" style="width:100px; height:100px" title="WhatsApp" alt="WhatsApp">
	<figcaption>WhatsApp: +628561978788</figcaption>
	</figure>
  </div>
  <div class="column">
	<figure>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/256px-New_Logo_Gmail.svg.png" style="width:100px; height:100px" title="GMail" alt="GMail">
	<figcaption>Gmail</br>
	gemapratamaa@gmail.com</figcaption>
	</figure>
  </div>
</div>


<br/>
<br/>

<div class="row">
  <div class="column">
	<figure>
	<img src="https://i2.wp.com/uncomocorreo.com/wp-content/uploads/2018/03/iniciar-sesion-yahoo.png?resize=300%2C240&ssl=1" style="width:100px; height:100px" title="Yahoo! Mail" alt="Yahoo! Mail">
	<figcaption>Yahoo! Mail </br>
	gemapratamaaditya@yahoo.com
	</figcaption>
	</figure>
  </div>
</div>


<br/>
<br/>

<footer> {% include "Lab3PPW/partials/footer.html" %} </footer>
</body>
