<!-- Inspirasi dari Lab 4 PPW tahun lalu -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>
</head>
<style>
table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}
</style>
<body style="background-image:url('https://cdn.shopify.com/s/files/1/2045/6881/products/2022-60-lightyellow_800x.png?v=1499358973')">
    <header>
        {% include "Lab3PPW/partials/navbar.html" %}
    </header>
</html>
<center><strong><h1>LIST JADWAL KEGIATAN</h1></strong></center>
<br>
<br>
<center><h2> Berikut adalah jadwal kegiatan yang sudah terdaftar</h2></center>
<br>
<br>
<br>

{% block content %}
<table class="table" style="background-color:#b3cffc;">
    <thead>
        <th>Hari</th>
        <th>Tanggal</th>
        <th>Jam</th>
        <th>Nama kegiatan</th>
        <th>Tempat</th>
        <th>Kategori</th>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for i in user_data %}
            <td><center> {{ i.hari }} </center></td>
            <td><center> {{ i.tanggal }} </center></td>
            <td><center> {{ i.jam }} </center></td>
            <td><center> {{ i.kegiatan }} </center></td>
            <td><center> {{ i.tempat }} </center></td>
            <td><center> {{ i.kategori }} </center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>

<center><form action = "{% url 'delete_all' %}"
      method="post"
      onclick="alert('Semua jadwal akan dihapus.')"

      <center><button type="submit" style="width:220px;height:40px;">Hapus semua jadwal</button></center>
      {% csrf_token %}
</form></center>
{% endblock %}
