<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>
</head>
<body style="background-image:url('https://cdn.shopify.com/s/files/1/2045/6881/products/2022-60-lightyellow_800x.png?v=1499358973')">
    <header>
        {% include "Lab3PPW/partials/navbar.html" %}
    </header>
</html>
<center><strong><h1>FORM UNTUK MENGISI JADWAL KEGIATAN</h1></strong></center>
<center><h2>Silakan daftarkan jadwalmu di sini!</h2></center>
<br>
<br>
<br>
<form method="post">
  {% csrf_token %}
  <table border="1">
    {{ form.as_p }}
    <br><br>
  </table>
  <input type="submit" value="Submit">
</form>

</body>
