<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>
</head>
<body>
    <header>
        {% include "Lab3PPW/partials/navbar.html" %}
    </header>

</html>
<body style="background-image:url('https://cdn.shopify.com/s/files/1/2045/6881/products/2022-60-lightyellow_800x.png?v=1499358973')">
<br/>
<br/>
<h1><center>GALLERY</center></h1>
<br/>
<br/>
<br/>
<br/>
<div class="row">
  <div class="column">
	<figure>
    <img src="{% static 'images/img1.jpg' %}" style="width:300px; height:200px">
    <figcaption>Ini adalah foto saya bersama teman-teman SMA saya saat setelah menonton acara teater yang diadakan oleh sekolah saya saat saya masih duduk di bangku kelas 2 SMA. </figcaption>
	</figure>
  </div>
  <div class="column">
	<figure>
   <img src="{% static 'images/img2.jpg' %}" style="width:300px; height:200px">
	<figcaption>Foto ini adalah foto saya bersama teman-teman SMA saya memenangkan pertandingan e-sports League of Legends di sekolah saya. Saya dan teman-teman saya meraih juara 3 dan mendapat hadiah Rp 500.000</figcaption>
	</figure>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="row">
  <div class="column">
  <figure>
   <img src="{% static 'images/img3.jpg' %}" style="width:300px; height:200px">
	<figcaption>Saya berfoto bersama teman-teman seperjuangan SMA saya di depan rektorat, mengenakan jaket kuning</figcaption>
  </figure>
  </div>
  <div class="column">
  <figure>
   <img src="{% static 'images/img4.jpg' %}" style="width:300px; height:200px">
	<figcaption>Berfoto di dufan bersama teman-teman saya seusai menjenguk teman yang dirawat inap di rumah sakit.</figcaption>
	</figure>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="column">
  <figure>
    <img src="{% static 'images/img5.jpg' %}" style="width:200px; height:400px">
	<figcaption>Saya berfoto di depan Osaka Castle, Jepang.</figcaption>
	</figure>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<footer> {% include "Lab3PPW/partials/footer.html" %} </footer>
</body>
