<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>
</head>
<body>
    <header>
        {% include "Lab3PPW/partials/navbar.html" %}
    </header>
</html>

<body style="background-image:url('https://cdn.shopify.com/s/files/1/2045/6881/products/2022-60-lightyellow_800x.png?v=1499358973')">
<br /><br />
<h1><center>GUEST BOOK</center></h1>
<br /><br />
<h3><center>Selamat datang di buku tamu!</center></h3>
<br /><br />
<div>
  <form action="/action_page.php">
    <label for="fname"><h3>Nama</h3></label>
    <input type="text" id="fname" name="firstname" placeholder="Ketik nama di sini..">
	<br /><br /><br />
    <label for="lname"><h3>Tanggal</h3></label>
    <input type="date" ><br>
	<br /><br /><br />
    <label for="fname"><h3>Email</h3></label>
    <input type="text" id="fname" name="firstname" placeholder="Ketik email di sini..">
	<br /><br /><br />
    <label for="fname"><h3>Subject</h3></label>
    <input type="text" id="fname" name="firstname" placeholder="Ketik subject di sini..">
    <br /><br /><br />
	<label for="fname"><h3>Message</h3></label>
	<textarea rows="4" cols="188">
Masukkan pesan anda di sini...
</textarea>
	<br><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
<br><br><br><br><br>


<footer> {% include "Lab3PPW/partials/footer.html" %} </footer>
</body>
