<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>

</head>
<body>
<header>
    {% include "Lab3PPW/partials/navbar.html" %}
</header>
</html>

<body style="background-image:url('https://cdn.shopify.com/s/files/1/2045/6881/products/2022-60-lightyellow_800x.png?v=1499358973')">
<br/>
<br/>
<h1><center>Halo! Selamat datang di website saya</center></h1>
<br/>
<br/>
<img src="http://about.tarung2017.com/foto/517.jpg" class="responsive">
<br/>
<br/>
Past works: <br>
- (not available)
<br><br><br><br><br>

<footer> {% include "Lab3PPW/partials/footer.html" %} </footer>

</body>
