<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>

</head>
<body>

    <header>
        {% include "Lab3PPW/partials/navbar.html" %}
    </header>

</html>

<body style="background-image:url('https://cdn.shopify.com/s/files/1/2045/6881/products/2022-60-lightyellow_800x.png?v=1499358973')">
<br/>
<h1><center>SHOWCASE</center></h1>
<br/>
<h2>1. 150.000 views di YouTube</h2>
   Di bawah ini adalah video buatan saya sendiri saat saya masih SMP kelas 1. Kalian tahu game parampaa? Itu loh, game quiz yang banyak jebakan dan troll pada para pemainnya.
Video ini saya buat awalnya karena iseng saja, tapi tak disangka setelah 7 tahun, video ini mendapat 149 ribu views loh! Ngomong-ngomong channel YouTube saya juga sudah
mencapai hampir 100 subscribers!

<center><iframe src="https://www.youtube.com/embed/4fQKus-22qM" class="responsive" frameborder="0" allowfullscreen></iframe></center>
   <br/>
<br/>
<br/>
<h2>2. Pump it Up</h2>
Kalian tahu game Pump it Up? Dance game buatan korean yang dimainkan menggunakan kaki itu! Kalau kalian sering pergi ke game center di mall-mall pasti sering lihat orang bermain.
Saya juga sangat suka bermain game ini! Kalau sedang tidak ada tugas dan tidak ada kerjaan, saya sering ke Margocity Depok untuk bermain ini, lumayan kan
olahraga daripada membuang-buang listrik di kamar. Ini adalah pencapaian terbaik saya: </br>

<center><img src="{% static 'images/showcase1.jpg' %}" alt="Mendapat grade SS di level single 17" style="width:400px; height:700px" class="responsive"> </br></center>
Saya mendapat world best, machine best, dan region best.

</br></br></br></br>
<h2>3. Bermain Game</h2>
</br>
Lalu mungkin kalian melihat "08121998", ya itu adalah nama karakter saya hampir di semua game <s></s>elain game ini! Saya sudah bermain bermacam-macam jenis game sejak
saya masih kecil sampai sekarang. Tentunya jika kalian suka bermain game pasti kalian tidak asing dengan kata "Steam". Saya sering berburu game-game gratis!
Gratis di sini maksudnya, game tersebut seharusnya harus bayar jika ingin dimainkan, tetapi dengan cara khusus saya bisa mendapat game tersebut secara gratis.
Sudah sekitar 450 lebih game gratis yang saya kumpulkan. Bila ditotal, jumlah dari semua game gratis tersebut kira-kira..... </br>
<center><img src="{% static 'images/showcase2.png' %}" alt="Test" class="responsive" align="middle"> </br></center>

Yup, Rp 21 juta di harga normal dan Rp 4,6 juta di harga diskon. Tetapi sayangnya uang ini tidak bisa dicairkan :(

<br/>
<br/>
<br/>

<h2>4. Memenangkan pertandingan di fakultas</h2> </br>
Pada saat semester 2 berkuliah di UI, fakultas saya mengadakan event yang bernama "Computers Get Together", yang di dalamnya diadakan perlombaan bermain game!
Game-game yang diadakan di antaranya FIFA, Dota 2, TEKKEN, CS:GO, Mario Kart. Saya mengikuti pertandingan di game CS:GO dan mendapat juara kedua!
<br />
<center><p><img src="{% static 'images/showcase3.jpg' %}" alt="Test" style="width:400px; height:700px" class="responsive" align="middle"></p></center>

<footer> {% include "Lab3PPW/partials/footer.html" %} </footer>

</body>
